#chooseDifficultyContainer {
  text-align: center;

  h1 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

button {
  border: none;
  background-color: #D94044;
  color: #fff;
  border-radius: 2px;
  padding:10px 30px;
  font-family: 'Open Sans', sans-serif;
  font-size:20px;
  text-transform: uppercase;
  margin-right:10px;
  cursor: pointer;
}

button:hover {
  background-color:#DD4C4F;
}
