
.cardContainer {
  width:150px;
  height:150px;
  position: relative;
  z-index: 1;
  margin-bottom:20px;
}

.card {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  width:100%;
  height: 100%;
  cursor: pointer;
}

.back, .front {
  width:100%;
  height: 100%;
  position: absolute;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D8D8D8;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}

.back {
  transform: rotateY(0deg);
}

.front {
  transform: rotateY(180deg);
}

.flipped {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

.symbol {
  font-size:50px;
  color:#2C3643;
}

.offBoard {
  display: none;
}
