.header {
  font-family: 'Space Mono', monospace;
  font-weight: normal;
  font-size: 64px;
  display: inline-block;
  letter-spacing: 8px;
}

.blue { color:#2A87D6; }
.yellow { color: #FFC83F; }
.green { color: #28D99F; }
.red { color: #D94044; }
.pink { color: #FF708E; }
